body {
    background-color: skyblue;
}

header {
    font-family: 'Times New Roman';
    letter-spacing: 20px;
    color: green;
    border-radius: 20px;
    border: 5px;
    box-sizing: border-box;
    background-color: white;
}

div {
    color: blue;
    background-color: grey;
    width: auto;
    height: 80px;
    cursor: pointer;
    align-items: top;
    align-content: center;
    margin: 0;
    margin-top: auto;
}

div:hover {
    color: yellow;
}

.copy-link {
    height: 36px;
    display: flex;
    max-width: 250px;
}

.copy-link-input {
    flex-grow: 1;
    padding: 0;
    font-size: 13px;
    border: 1px solid #ccc;
    border-right: none;
    outline: none;
}

.copy-link-input:hover {
    background: #eeeeee;
}

.copy-link-input {
    flex-shrink: 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dddddd;
    color: #333333;
    outline: none;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.copy-link-input:hover {
    background-color: #cccccc;
}
.blue-text {
        color: blue;
}
.red-link {
    color: red;
}
